
.column{
	text-align: left;
    float:left;
	width:47%;
	//background-color:brown;
	display:inline-block;
    margin-left:3%;
}

.column h2{
    margin-top: 0;   
}

.column img{
    margin-left: 5%;   
}

.align{
    margin-left: 5%;   
}

h2,h3 {
	font-size:20px;
	color:white;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	//float:left;
	text-align: left;
	//background-color: green;
}
	
h2 {
    font-family: Century Gothic, sans-serif;
	font-size:25px;
	font-weight: bold;
    text-decoration: underline;
	//background-color: green;
}