
.padding{
	height:100px;
}

.column{
	float:left;
	width:33%;
	//background-color:brown;
	display:inline-block;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
	
.column a:link {
    color:white;
	text-decoration: none;
}

.column a:visited {
    color: white;
}

.column h2.blue a:hover {
	color: orange;
}

.column h2.orange a:hover {
	color: #1589FF;
}

.column h2.green a:hover {
	color: #A617E8;
}

.column h2{
	margin-left:auto;
	margin-right:auto;
	width: 7em;
	padding-top:5px;
	padding-bottom:5px;
	min-height:3em;
	
	font-family: Century Gothic, sans-serif;
	font-size:35px;
	font-weight: bold;
	
	color:white;
	border: ridge;
}

.blue{
	
	background-color: #2554C7;
}

.orange{

	background-color: #FF8A14;
}

.green{

	background-color: #59E817;
}