

h2.ex1 {
	text-align:center;
	line-height:2em;
	width: 7em;
	height: 4em;
	
	color:white;
	margin-top: 15%;
	margin-left:-25%;
	
	font-family: Century Gothic, sans-serif;
	font-size:35px;
	font-weight: bold;
	
	float:left;
	background-color: #2554C7;
	border: ridge;
}

h2.ex2 {
	text-align:center;
	line-height:2em;
	width: 5em;
	height: 4em;
	
	color:white;
	margin-top: 8%;
	margin-left:12%;
	
	font-family: Century Gothic, sans-serif;
	font-size:35px;
	font-weight: bold;
	
	float:left;
	background-color:#FF8A14;
	border: ridge;
}

h2.ex3 {
	text-align:center;
	line-height:2em;
	width: 7em;
	height: 4em;
	
	color:white;
	margin-top: -13%;
	margin-left:50%;
	
	font-family: Century Gothic, sans-serif;
	font-size:35px;
	font-weight: bold;
	
	float:left;
	background-color:#59E817;
	border: ridge;
}

h2 a:link {
    color:white;
	text-decoration: none;
}

h2 a:visited {
    color: white;
}

h2.ex1 a:hover {
	color: orange;
}

h2.ex2 a:hover {
	color: #1589FF;
}

h2.ex3 a:hover {
	color:#A617E8;
}